@font-face {
    font-family: sansation;
    src: url(profonts/SansationLight.woff);
 }
@font-face {
font-family: dakota;
src:url(profonts/dakota_update.ttf);
}
@font-face {
font-family: rounD;
src: url(profonts/RounD-Regular.ttf);
}
@font-face {
  font-family: Got_Heroin;
  src: url(profonts/Got_Heroin.ttf);
}
@font-face{
font-family: prod;
src:url(profonts/Product Sans Regular.ttf);
}
@font-face{
font-family: nikoleta;
src:url(profonts/NIKOLETA.ttf);
}
@font-face{
font-family: mona;
src:url(profonts/Mona-Free.woff);
font-stretch: expanded;
}
@font-face{
font-family: belda ;
src:url(profonts/insigne - Belda Norm Regular.otf);
}
@font-face{
font-family: architex;
src:url(profonts/Architex.ttf);
}
@font-face{
font-family: goodtimes;
src:url(profonts/good times rg.ttf);
}
@font-face{
  font-family: if;
  src:url(Fonts/if/IF/If.ttf);
}
@font-face{
  font-family: MetalMacabre;
  src:url(Fonts/metal-macabre/MetalMacabre.ttf);
}
body{margin:0;background-color: snow;padding: 0;width:80%;margin-left: 5%}


/*section{background-color: rgba(51, 51, 51, 0.178);position: fixed;top: 0;left:0;width: 100%;overflow: hidden;z-index: 1;margin: 0 auto;padding: 0;/*float: left;}
section div ul{list-style-type: none;margin: 0;padding: 5px;overflow: hidden;background-color: #333;}
section div li{float:left;}
section div li a{display:block;}
#inhead{background: linear-gradient(to right,#4d4d4d 0,#333 100%)}*/

#inhead{
  background-color: rgb(236, 34, 34);
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  margin: 0 auto;
  padding: 0;
  float: left;
}
#inhead ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
#inhead li{
  display: block;
  float: left;
}
#inhead li a {
  display: block;
   color: snow;
   text-align: center;
   text-decoration: none;
   padding: 14px 17px;
   height: 23px;
   font-size: 17px;
   font-family: sansation;
  }



nav{background-color: #333;position: fixed;top: 40px;left:0;width: 100%;overflow: hidden;z-index: 1;margin: 0 auto;padding: 0;float: left;}
nav ul {list-style-type: none;margin: 0;padding: 0;overflow: hidden;background-color: #333;}
nav li{float: left;}
nav li a {display: block; color: snow;text-align: center;text-decoration: none;padding: 14px 17px;height: 23px;font-size: 17px;font-family: sansation;}
nav li a:hover {background-color: silver;color:black;}
nav li a.active { background-color: lightseagreen;color:black;}
nav a.logo{background-color: yellowgreen;color:black;}
nav li.button{float:right;}
li.button input{background-color: #333;border: 2px;border-color:snow;border-radius:10px;border-style:solid;color: snow;text-align: center;text-decoration: none;font-size: 17px; margin: 4px 4px;cursor: pointer;padding:12px 17px 8px;font-family: sansation;}
li.button input:hover{background-color: snow;border: 2px;border-color:snow;border-radius:10px;border-style:solid;color: black;}
nav li.icon ,a.icon{
  display: none;
  float: right;
}

@media screen and (max-width: 750px) {
  nav ul li a{display: none;}
  nav ul li a.logo{display: block;float:center;} 
   nav ul li.icon ,a.icon{
    display: block;
    float: right;
  }
}
@media screen and (max-width: 750px) {
  nav.responsive {position: fixed;top: 0px;}
  nav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.responsive li{float:none;}
  nav.responsive li a {
    float: none;
    display: block;
    text-align: center;
  }
  nav.responsive li.button input{position: relative;left: 35%;}
}


#first{background-image: url(hockeybackground.jpg);
    margin-top: 48px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height:300px;
    width:100%;
    background-attachment: fixed;
    padding: 5% 9% 10% 2%;
  }
#first h2{color: snow;font-size: 60px;font-family:mona;font-weight: 1px;text-decoration: none;position: relative;left: 0px;text-align: center;}
#first h3{color: rgb(162, 204, 10);font-size: 60px;font-family:mona;font-weight: 1px;text-decoration: none;position: relative;left: 0px;top:65%;text-align: center;}
#first a{color :rgb(12, 11, 11);text-decoration: none;position: relative;top: 100px;left: 45%;font-size: 50px;-webkit-transition: all 1s ease}
#first a:hover{color: crimson;}
#sec,#fourth,#sixth{background-color:white;padding-top:1%;padding-bottom: 2%;}
#sec h2 ,#sixth h2{color:steelblue;font-size: 30px;font-family:nikoleta;text-align: center;margin-top: 50px;}
#sec p,#sixth p{font-size: 17px;width:80%;font-family: belda;position: relative;top: 0px;left:150px;overflow: hiddens;text-overflow: hidden;}
#insec2{
  /* position: relative; */
  /* width: 100px; the image width */
  /* height: 100px; the image height */
  /* left: 50%; */
  /* top: 50%; */
  margin-left: 25%; /*half the image width*/
  /* margin-top: -50px; */
}
#sec p{text-align: center;}

#insec{
  background-color: white;
  padding:3%;
}
#insec td.tab{text-align: center;background-color:white;}
/* #insec img{-webkit-transition:transform 1s;transition: transform 1s;} */
#insec img:hover{-webkit-transform:rotate(360deg);/* transform: rotate(180deg);*/}
td.tab a{text-align: center;color :steelblue;font-family: nikoleta;font-size: 20px;background-color:white;text-decoration: none;}
td.tab a:hover{text-shadow: 2px 2px 4px #333;}
#insec table{background-color: white;}
blockquote{font-size: 20px;font-family: mona;text-align: center;margin-top: 50px;}
p.a{color:steelblue;text-align: center;font-size: 40px;font-family: architex;margin-top: 50px;}

#history{margin:100px;}
#hisp{display:table;margin-left:auto;margin-right:auto;color: black;font-size: 20px;font-family: sansation;margin:20px;}
#inph{display:table;margin-left:auto;margin-right:auto;color:red;font-family: dakota;font-size: 25px;}
#third{
  background-image: url(Medical-Healthcare-Background-Stock-Photo.jpg);
  margin-top: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height:300px;
  background-attachment: fixed;
  /* padding: 5% 9% 10% 2%; */
  position: relative;}
#third h4,#fifth h4{color:black;font-size: 50px;font-weight: 0.5px;text-decoration: none;position: absolute;top:0px;font-family: nikoleta;}
#third p{color:black;font-size: 20px;font-weight: 1px;text-decoration: none;position: absolute;top:230px;font-family: nikoleta;}


#fourth h1{margin-bottom: 0;padding-bottom: 0px;color: red}
#fourth table{ margin-left: 10%}
#fourth table tr{padding:10px;}

#fifth{
  background-image:url("newsletter.jpg");
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  height: 150px;
  
}
#fifth div{
  
  display:table;
  margin-right:auto;
  margin-left:auto;
  margin-bottom: 15px;
  /* padding-bottom:  */
  
}
#fifth {height: 200px;}
#fifth div h2{position: static;font-family: if;color:white ;font-size: 30px }
#fifth div p{position: static;font-family: nikoleta;color: white;letter-spacing: 1px}


#footer{background-color: black;}
#f1 table tr td{padding:40px;color: white;font-family: nikoleta;}
#tsw{position: static;font-family:Got_Heroin;color: red;letter-spacing: 5px;font-size: 35px }

#up{width:100%;position:relative;}